.container {

    padding: 2rem;
}

.slider-wrapper {

    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.slider {

    display: flex;
    aspect-ratio: 16/9;

    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {

    height: auto;
    width: auto;
    scroll-snap-align: start;
    object-fit: cover;

}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

#slide-6 {
    scale: 1.2;
    width: 50%;
}

#casa {


    width: 5vw;
    /* Usa un tamaño relativo */
    max-width: 90px;
    height: 5vw;
    max-height: 90px;
    background-image: url(../sprites/casa.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    bottom: 3vh;
    /* Usa unidades relativas */
    right: 46.5vw;
    z-index: 10;


}

@media (max-width: 768px) {
    .slider {
        aspect-ratio: 9/16;
    }

    .slider-nav a {
        width: 1rem;
        height: 1rem;

    }

    #slide-1 {
        visibility: hidden;
    }

    #slide-2 {
        visibility: hidden;
    }

    #slide-6 {
        scale: 1.2;
        width: 90%;
    }

    #casa {

        width: 15vw;
        /* Usa un tamaño relativo */
        max-width: 70px;
        height: 15vw;
        max-height: 70px;
        background-image: url(../sprites/casa.png);
        background-repeat: no-repeat;
        background-color: pink;

        padding: 0;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        outline: none;
        position: absolute;
        width: 50vw;
        max-width: 100px;
        height: 50vw;
        max-height: 100px;
        bottom: 5vh;
        right: 38vw;
    }
}